@using TestAppService.Models;
@model IEnumerable<TestAppService.Models.Services>


@{
    ViewBag.Title = "Services List";
}

<h2>Services List</h2>

@foreach (Services service in @Model)
{
    <li>
        @Html.ActionLink(service.Name, "DetailsServices", "ListServices",
       new { id = service.ServiceID },null)

    </li>
}
<div>
    @Html.ActionLink("Back to List", "ListCategories")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
