@model IEnumerable<TestAppService.Models.Questions>

@{
    ViewBag.Title = "Index";
}

    <div>dfsfsfddsfsfds
        @foreach (var item in Model)
        {
            @Html.DisplayFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownList("AnswerID", null, htmlAttributes: new { @class = "form-control" })
        }
    </div>
