@model IEnumerable<TestAppService.Models.Categories>

@{
    ViewBag.Title = "Index_Categories";
}

<h2>Index_Categories</h2>

<div class="table">
    <div>
        <a>
            @Html.DisplayNameFor(model => model.Category_Name)
            
        </a>
        
    </div>

    @foreach (var item in Model)
    {
        <div>
            <a href="~/Services/ListServices">
                @Html.DisplayFor(modelItem => item.Category_Name)

            </a>
        </div>
    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
